# Docker
*.log
.env
grafana_data/
prometheus_data/
node_exporter_data/
alertmanager_data/
loki-data/
logs/promtail-positions.yaml

# OS cruft
.DS_Store
Thumbs.db
prometheus_inspect.txt
config/local/

# Loki data
# Keep the folders, not the contents
loki/chunks/*
!loki/chunks/.gitkeep
loki/index/*
!loki/index/.gitkeep
loki/wal/*
!loki/wal/.gitkeep
loki/cache/*
!loki/cache/.gitkeep
loki/boltdb-shipper/*
!loki/boltdb-shipper/.gitkeep
loki/rules/*
!loki/rules/.gitkeep
loki/compactor/*
!loki/compactor/.gitkeep

# VS Code settings
.vscode/
.code-workspace
